# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
backend/env/
backend/.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Node
frontend/node_modules/

# Build files
dist/
build/